<% layout("/layouts/boilerplate") %>

    <body>
        <h1>Edit <%= list.title %></h1>
        <br>
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%= list._id %>?_method=PUT" class="needs-validation was-validated" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= list.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter valid title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input name="listing[description]" value="<%= list.description %>" type="text" class="form-control">
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="Image_URL" class="form-label">Image</label>
                    <input name="listing[image]" value="<%= list.image.url %>" type="file" class="form-control">
                    <div class="invalid-feedback">Please Add Image</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= list.price %>" placeholder="Enter price" type="number"
                            class="form-control" required>
                            <div class="invalid-feedback">Please enter valid price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= list.location %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid country</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= list.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter location</div>
                </div>
                
                <button class="btn btn-dark add-btn edit-btn">Edit</button>
            </form>
        </div>
    </body>
    <br>