<% layout("/layouts/boilerplate") %>
<br>
<h2>Search Results for <i>"<%= search %>"</i></h2>
<br>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for( listing of searchListing) { %>
               <a class="listing-link" href="/listings/<%= listing._id %>"> 
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image"
                            style="height: 20rem" />
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b>
                                <br>
                                <%= listing.price.toLocaleString("en-IN") %> / night
                                    <i class="taxInfo">&nbsp;&nbsp;+18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
       </div> 