<% layout("/layouts/boilerplate") %>

    <body>
        <script>mapToken = "<%= process.env.MAP_KEY %>"
        const listings = <%- JSON.stringify(list) %>;
</script>
        <div class="row mt-3">
            <div class="col-8 offset-3">
                <h3>
                    <%= list.title %>
                </h3>
            </div>
            <div class="card col-6 offset-3 show-card">
                <img src="<%= list.image.url %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%= list.title %>
                        </b>
                    </p>
                    <p class="card-text">
                        Owned by <i>
                            <%= list.owner.username %>
                        </i>
                    </p>
                    <p class="card-text">
                        <%= list.description %>
                    </p>
                    <p class="card-text">
                        <%= list.location %>
                    </p>
                    <p class="card-text">
                        &#8377;<%= list.price.toLocaleString("en-IN") %>
                    </p>
                    <p class="card-text">
                        <%= list.country %>
                    </p>
                </div>
            </div>

        </div>

        <% if (currentUser && currentUser._id.equals(list.owner._id)){ %>
            <div class="btns">
                <a class="btn btn-dark add-btn col-1 offset-3" href="/listings/<%= list._id %>/edit">Edit</a>

                <form method="post" action="/listings/<%= list._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-4"> Delete</button>
                </form>
            </div>
            <% } %>

                <div class="col-8 offset-3">
                    <% if (currentUser){ %>
                        <hr>
                        <h4>Leave a Review</h4>
                        <form action="/listings/<%= list._id %>/reviews" method="post" novalidate>
                            <div class="mt-3 mb-3">
                                <label for="rating" class="form-label">
                                    rating
                                </label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="mt-3 mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                    required></textarea>
                                <div class="valid-feedback">Comment looks good!</div>
                                <div class="invalid-feedback">Please enter comment for review</div>
                            </div>
                            <button class="btn btn-outline-dark">Submit</button>
                        </form>
                        <br>
                        <% } %>

                            <% if (list.reviews.length> 0 ) { %>
                                <hr class="col-9">
                                <div class="row row-cols-md-1 row-cols-sm-1">
                                    <p><b>All Reviews</b></p>
                                    <% for( review of list.reviews ) { %>
                                        <div class="card col-5 ms-3 mb-3" style="border: 1px;">
                                            <div class="card-body">
                                                <h5 class="card-title">@<%= review.author.username %>
                                                </h5>
                                                <p class="starability-result card-text"
                                                    data-rating="<%= review.rating%>">
                                                    Rated: <%= review.rating%> stars
                                                </p>
                                                <p class="card-text">
                                                    <%= review.comment%>
                                                </p>


                                                <% if (currentUser && currentUser._id.equals(review.author._id)){ %>
                                                    <form class="mb-3" method="post"
                                                        action="/listings/<%= list._id %>/reviews/<%= review._id%>?_method=DELETE">
                                                        <button class="btn btn-sm btn-outline-dark">Delete</button>
                                                    </form>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                                <% } %>
                </div>
                <div class="col-10 offset-3 row row-cols-sm-1 row-cols-md-1">
                    <h1>Where you'll be</h1>
                    <div id="map">

                    </div>
                </div>
                <br>
<script src="/js/map.js"></script>
    </body>